.about {
  &_content {
    display: flex;

    &_personalWrapper,
    &_servicesWrapper {
      width: 50%;
    }
  }
}

.h3 {
  padding-top: 20px;
}
.lastP {
  border-bottom: 1px dashed #4299e1;
}
.about_content_servicesWrapper {
  &_innerContent {
    animation: rotation 10s linear infinite;
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 50%;
    border: 1.5px solid #4299e1;
    background-color: radial-gradient(circle, #4299e1, transparent 90%);
  }
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
