.container-form {
  width: 100%;
  height: calc(100vh - 100px);
}
.email-alert {
  background: red;
  color: aliceblue;
  position: relative;
  right: 2.5rem;
  top: 2.5rem;
  padding: 0.75rem;
  border-radius: 10px;
}
.contact_content_header-text {
  display: inline-block;
  color: var(--yellow-theme-main-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.5px;
  position: relative;
  text-transform: uppercase;
  padding: 5px 10px;
  border-bottom: 2px solid var(--yellow-theme-main-color);
  margin-top: 15px;
  margin-left: 25px;
}

.contact_content_header-text::before,
.contact_content_header-text::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 5px;
  background-color: var(--yellow-theme-main-color);
  bottom: -1px;
}

.contact_content_header-text::before {
  left: 0;
}

.contact_content_header-text::after {
  right: 0;
}
